
.recipt-section{
    /* border: 3px solid rgb(185, 32, 32); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.recipt{
    border: 2px solid black;
    background-color: rgb(226, 226, 226);
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.recipt h2 {
    color: orangered;
}

.recipt button{
    padding: 10px 30px;
    background-color: rgb(32, 228, 32);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

.tottal{
    color: blue;

}

.receipt-table{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    /* padding: 10px; */
}

.receipt-table th,td{
    /* border: 2px solid black; */
    padding: 10px;
}