
.contact-section {
  height: 90vh; /* changed from 90vh */
  display: flex;
  align-items: center;
  justify-content: center;

  /* background: linear-gradient(rgb(164, 229, 244), #ddf7a5, #4cac4c); */
  padding: 1rem;
}


.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 2px solid gray;
  padding: 1rem 3rem;
  border-radius: 1rem 4rem;
}

.contact-form h2 {
  margin-bottom: 1rem;
  color: #0f172a;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 9px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #22c55e;
}

.contact-form button {
  padding: 10px;
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #16a34a;
}


@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
    height: auto;      
    width: 90vw;
    padding: 1.5rem;
  }

  .contact-section {
    height: auto;
    padding: 2rem 1rem;
  }
}

@media (max-width: 500px) {
  .contact-info h1 {
    font-size: 1.6rem;
  }
}
