.features-section {
  min-height: 90vh;
   padding: 4rem 1.5rem;
  /* background: linear-gradient(to right, #e6f7e6, #d4f5d4); */
    /* background: linear-gradient(rgb(164, 229, 244), #ddf7a5, #4cac4c); */
  background: linear-gradient(rgba(164, 229, 244, 0.41), #c5d6a071, #89ea89db);

    text-align: center;
}

.features-container {
  max-width: 1100px;
  margin: 0 auto;
}

.features-container h2 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

}

.feature-card {
  width: 20rem;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: 0.3s ease;
  border-radius: 1rem 3rem;
  border: 2px solid transparent;
}
.feature-icon{
  font-size: 2rem;
}
.feature-card:hover {
  transform: translateY(-5px);
  border-color:rgb(16, 16, 16) ;
}

.feature-card h3 {
  margin-bottom: 1rem;
}

/* Responsive */
@media (max-width: 992px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
}
