.product-section {
  min-height: 90vh;
  padding: 2rem 4rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2rem;
}


.product-heading{
  font-size: 1.5rem;
  font-weight: bold;

}

.product-cards{
  /* border: 2px solid red; */
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.pro-cards{
  /* border: 1px solid rgb(19, 19, 19); */
  background-color: aliceblue;
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 0.4rem;
  
}

.pro-cards:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(52, 86, 115);

}