
.searchbar{
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
    background: white;
    color: black;
    border-radius: 12px;
    font-size: 1.2rem;
}

.searchbar input{
    background: transparent;
    outline: none;
    border: none;
    color: black;
    font-size: 1rem;
}

nav a{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}




 

