.searchbar{
    border: 2px solid rgb(18, 234, 43);
    border-radius: 150px;
    padding: 0.5rem 1rem;
    /* width: 20rem; */
    position: fixed;
    top: 20vh;
    right: 0rem;
    background-color: black;
    color: white;
}

.searchbar input{
    display: none;
    color: white;
    outline: none;
    text-decoration: none;
    /* padding: 0.5rem 1rem; */

}

.searchbar:hover input{
    display: block;
    
}

.cart{
    color: rgb(61, 213, 34);
    /* background-color: rgb(32, 225, 161); */
    /* border: 2px solid red; */

    position: absolute;
    top: 15vh;
    right: 3rem;

}

.count{
    position: absolute;
    text-align: center;
    top: -25px;
    right: 2px;
    height: 30px;
    width: 30px;
    color: rgb(7, 7, 7);
    background-color: rgb(40, 146, 5);
    border-radius: 30px;
    padding: 0px 5px;
    font-size: 1.5rem;
    font-weight: bold;
}


/* ================================= */
.allproduct{
    /* border: 3px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.description{
    display: flex;
    width: 100%;
    height: 2rem;
    /* flex-wrap: wrap; */
    overflow: hidden;
}
.product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
}

.product-title:hover::after {
  content: attr(title);
  position: absolute;
  background: black;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
  top: 100%;
  left: 0;
  white-space: normal;
  z-index: 10;
}