.edit-section{
    /* border: 1px solid red; */
    padding: 2rem;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
}

.edit-section h2 {
    color: orangered;
    font-size: 1.5rem;
}

.edit-div{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 249, 247);
}

.edit-form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
}

.formbox{
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    padding: 5px 20px;
    border-radius: 10px;
}
.formbox label{
    font-weight: bold;
}

.formbox input{
    outline: none;
    border: none;
    background: transparent;
    border-top:1px solid gray ;
    font-size: 1.1rem;
    width: 100%;
    color: blue;

}

.edit-form button{
    background-color: rgb(32, 225, 32);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.3rem;
}

@media (max-width:445px) {
    .edit-section{
        padding: 0px;
    }
}