.myproducts-container {
    min-height: 88vh;
    border: 3px solid black;
    padding: 50px;
  text-align: center;
  /* margin-top: 2rem; */
}

.myproducts-container h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.add-btn {
  background-color: #27ae60;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-btn:hover {
  background-color: #219150;
}

.products-grid {
    /* border: 2px solid black ; */
    width:100%;
    /* width: 70rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: auto ,auto,auto;
    gap: 15px;
}

.product-card {
    border: 2px solid grey;
    width: 18rem;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 10px 0;
  color: #34495e;
}

.product-card p {
  margin: 4px 0;
  font-size: 14px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-btn {
  background-color: #2980b9;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #1f6692;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.no-product {
  color: gray;
}
