.farmer-header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  background-color: rgb(37, 78, 64);
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
}

.logo img {
  height: 45px;
}

/* Navigation */
.hamburger p {
    display: none;
}

.nav-bar {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-bar a:hover {
  color: #2ecc71;
}

.logout-button {
  background-color: green;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #331ed3;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* ========================= */
/* Responsive Design */
/* ========================= */

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-bar {
    position: absolute;
    top: 12vh;
    right: 0;
    flex-direction: column;
    background-color: rgb(37, 78, 64);
    width: 200px;
    padding: 20px;
    gap: 1.5rem;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-bar.active {
    transform: translateX(0);
  }
}
