
.main_app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: rgb(83, 231, 142); */
  color:black;
  /* background: linear-gradient(rgba(164, 229, 244, 0.41), #c5d6a071, #89ea89db); */

  background-color: white;


}

main {
  flex: 1;
  width: 100%;
  display: block;
}

.section {
  width: 100%;
  padding: 4rem 1.5rem;
  min-height: 90vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.text-center {
  text-align: center;
}



@media (max-width: 1024px) {
  .section {
    padding: 3rem 1.25rem;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 2.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 2rem 1rem;
  }
}
